body {
	background-color: #eaeaea !important;
}

.ui.inverted.top.fixed.menu {
	background-image: linear-gradient(135deg, #eb4f49 10%, #ffc600 100%);
}

.longProductDesc {
	/* width: 390px;
	height: 100px;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis; */
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	width: 300px;
}
