@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{ var backendurl = Configuration.GetServiceUri("backend"); }
<!-- Mobile Menu Start -->
<div class="mobile-navigation">
    <nav>
        <ul class="mobile-menu">
            <li class="has-children">
                <a asp-controller="Home" asp-action="Index">Home <i class="fa fa-angle-down"></i></a>

            </li>
            <li class="has-children">
                <a href="#">CATEGORIES<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown">
                    <vc:category-menu is-done="false"></vc:category-menu>
                </ul>
            </li>
            <li class="has-children">
                <a href="#">BRANDS<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown">
                    <vc:brand-menu is-done="false"></vc:brand-menu>
                </ul>
            </li>
            <li class="has-children">
                <a asp-controller="Home" asp-action="Faq">FAQ</a>

            </li>
            <li><a href="@(backendurl)Identity/Account/Register">My Account</a></li>
            <li><a asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
    </nav>
</div>
<!-- Mobile Menu End -->
