.brand-logo {
    width: 100%;
    height: 84px;
    object-fit: contain;
}

.banner-image img {
    width: 370px;
    height: 240px;
    object-fit: cover;
}

small-banner-content sub-title {
    font-size: 30px !important;
}

.banner .small-banner-content .sub-title {
    color: white;
}

.banner .small-banner-content .title {
    color: white;
    font-weight: 800;
    text-shadow: #ff4545 30px 0px 30px;
}

.banner-image img {
    filter: brightness(50%);
}

.first-image {
    object-fit: contain !important;
}

.second-image {
    object-fit: cover !important;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 15px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #E75300;
}

.product .content .title a {
    white-space: nowrap;
    width: 246px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.single-footer-widget .widget-title {
    font-weight: 600;
}

.breadcrumb-area.bg-light {
    background-color: #e65205;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}
/*STAR RATING*/
.star-rating {
    font-size: 0;
}

.star-rating__wrap {
    display: inline-block;
    font-size: 1rem;
}

    .star-rating__wrap:after {
        content: "";
        display: table;
        clear: both;
    }

.star-rating__ico {
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
}

    .star-rating__ico:last-child {
        padding-left: 0;
    }

.star-rating__input {
    display: none;
}

    .star-rating__ico:hover:before,
    .star-rating__ico:hover ~ .star-rating__ico:before,
    .star-rating__input:checked ~ .star-rating__ico:before {
        content: "\f005";
    }