.brand-logo {
    width: 100%;
    height: 84px;
    object-fit: contain;
}


.banner-image img {
    width: 370px;
    height: 240px;
    object-fit: cover;
}




small-banner-content sub-title {
    font-size: 30px !important;
}




.banner .small-banner-content .sub-title {
    color: white;
}


.banner .small-banner-content .title {
    color: white;
    font-weight: 800;
    text-shadow: #ff4545 30px 0px 30px;
}

.banner-image img {
    filter: brightness(50%);
}


.first-image {
    object-fit: contain !important;
}

.second-image {
    object-fit: cover !important;
}
